* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #262626;
    color: white;
    font-family: "Fira Code", sans-serif;
}
a {
    color: #fccccc;
    text-decoration: none;

}

.wrapper {
    margin: auto;
    max-width: 1440px;
}